* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}


:root {
    --brand-color: #14723498;
    --brand-color-lt: #0D4116;
    --darkest-color: #000000;
    --dark-color: #363636;
    --mid-color: #6C6C6C;
    --light-color: #DADADA;
    --lightest-color: #FFFFFF;
}


.main-body {
    display: flex;
    align-items: center;
}



/* admin panel styling */

.dash-nav {
    height: 100vh;
    flex: 1;
    background-color: var(--brand-color-lt);
    z-index: 2;
}

.dash-screen {
    height: 100vh;
    flex: 4.5;
    background-color: #8080803d;
    display: flex;
    flex-direction: column;
    /* background-color: /; */
}

.dash-screen-main {
    height: 100%;
    padding: 1rem;
    overflow: auto;
}


/* main screen search bar section */

.top-logo {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 2rem .5rem;
    color: #fff;

    h2 {
        margin-left: 5px;
    }
    span {
        font-size: 30px;
    }
}

.nav-btns ul {
    list-style-type: none;
}

.nav-btns button {
    cursor: pointer;
    background-color: transparent;
    text-align: left;
    border: none;
    display: flex;
    width: 100%;
    padding: 1rem;
    /* font-size: large; */
    color: #fff;
    transition: .6s;
    span, i {
        margin-right: 10px;
    }
;
    align-items: center;
}

.nav-btns button:hover {
    background-color: rgba(190, 190, 190, 0.285);
}

.nav-btns button.active {
    background-color: var(--brand-color);
    border-left: 2px solid #fff;
}


.dash-top-screen {
    /* width: 100%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    z-index: 1;
    background-color: #fff;
    box-shadow: -1px -7px 20px 0px #808080c2;
}

.top-screen-right {
    display: flex;
    align-items: stretch;
}

.search-bar {
    font-size: 20px;
    width: 250px;
    border: none;
    background-color: #8080803d;
    padding: 5px 10px;
    border-radius: 50px;
}



.user-sect {
    display: flex;
    align-items: center;
    background-color: rgba(206, 205, 205, 0.632);
    margin: 0 1rem;
    font-size: large;
    padding: 5px;
    border-radius: 50px;
}

.user-sect p {
    padding: 0 5px;
}

.user-sect i {
    /* font-size: 22px; */
    padding: 5px;
    background-color: var(--brand-color-lt);
    color: #fff;
    border-radius: 50px;
}

.logout {
    cursor: pointer;
    /* width: 60px; */
    border: none;
    border-radius: 10px;
    display: flex;
    color: #fff;
    background-color: var(--dark-color);
    padding: 5px;
}



/* main screen elements styling */
.dash-screen-main .main-contained {
    width: 100%;
    height: 100%;
    /* overflow: auto; */
    /* background-color: white; */
}


.dash-screen-main .main-contained>div {
    display: none;
}


.dash-screen-main .main-contained>div.active {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
}


.overview-box-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
    width: 100%;
    margin: 0 0 1rem;
}

.overview-box {
    width: 100%;
    height: 130px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    margin: 0 10px;
}

.overview-tables {
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 2rem; */
    width: 100%;
    height: 70%;
    background-color: var(--brand-color);
    /* margin: 0 0 7rem; */
    /* margin: 0 1rem; */
    border-radius: 10px;
}

.ov-table {
    width: 100%;
    height: 500px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    margin: 0 10px;
} 
.ov-table img{
    width: 40rem;
    height: 30rem;
    border-radius: 5px;
    border-color: bisque;
}

.row {
    margin-bottom: 10px;
}

.row form {
    display: flex;
}

.row input {
    width: 100%;
    padding: 10px;
    margin: 0 10px 0 0;
    border-radius: 5px;
    font-size: 1rem;
    border: none;
}

.row button {
    padding: 10px;
    background-color: var(--brand-color-lt);
    border: none;
    border-radius: 5px;
    color: #fff;
}

.row select {
    width: 100%;
    margin: 0 10px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid var(--brand-color-lt);
}

.screen-table-name {
    margin: 10px 0;
}

.screen-top-contained,
.stc-left,
.btn-cont-rf {
    display: flex;
    align-items: center;
}

.screen-top-contained {
    justify-content: space-between;
    margin: 10px;
}

.btn-cont-rf {
    button {
        margin: 0 10px;
    }

    p#rf-state {
        color: rgb(132, 132, 132);
    }
}

.screen-table-name {
    margin: 10px 0;
}


.refresh-button {
    color: var(--brand-color);
    cursor: pointer;
    border: 1px solid;
    border-color: currentColor;
    display: flex;
    padding: 5px;
    border-radius: 100%;
    font-size: medium;
    align-items: center;
    justify-content: center;
}


.btn-actions {
    background-color: var(--brand-color-lt);
    border-radius: 5px;
    padding: 2px;
    color: white;
    display: flex;
}

.active-action-btn {
    cursor: pointer;
    background-color: transparent;
    border: none;
    display: flex;
    font-size: medium;
    /* border-right: 1px solid; */
    /* padding: 0 10px; */
    color: white;
    align-items: center;
}

.dropdown-toggle {
    position: relative;
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 5px 7px;
    border-radius: 10px;
    transition: .6s;
}

.dropdown-toggle.open {
    transform: rotate(180deg);
}

/* Style the dropdown menu */
.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    padding: 5px;
    border-radius: 10px;
    transform: translate(-2rem, .5rem);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Style the dropdown items */

button.dropdown-item {
    /* padding: 10px; */
    padding: 12px;
    background-color: transparent;
    border: none;
    text-align: left;
    border-radius: 10px;
}

/* Add a hover effect to dropdown links */
.dropdown-menu button:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown-menu.active {
    display: flex;
    flex-direction: column;
}

/* Table styles */
table {
    width: 100%;
    max-height: 80%;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-transform: capitalize;
}

table button {
    margin-right: 10px;
    background-color: transparent;
    font-size: medium;
    border: none;
    cursor: pointer;
}

table button.delete {
    margin-right: 0;
    color: rgb(211, 3, 3);
}

th,
td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    transition: .6s;
    font-weight: bold;
}

/* Alternate row colors */
tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

/* Hover effect */
tbody tr:hover {
    background-color: #e9e9e9;
}

/* Form Styling */
.add-form.active {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 1px 10px 0 #80808026;
}

/* Pagination aand pagination buttons styling */
#pagination {
    display: flex;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;


    button {
        cursor: pointer;
        font-size: large;
        padding: 5px;
        color: var(--brand-color);
        display: flex;
        border-radius: 100px;
        border: none;
        background-color: transparent;
        transition: .6s;
    }

}


.all-main-forms {
    display: none;
}

.main-form-all {
    display: none;
}

.main-form-all.active {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    /* background-color: rgba(0, 0, 0, 0.411); */
    z-index: 10;
    /* .main {
        width: 700px;
        background-color: darkslategray;
        border-radius: 15px;
        padding: 2%;
    } */

    .form-inner-con {
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        text-align: center;
        width: 85%;
        /* max-width: 700px; */
    }

    h2 {
        margin-bottom: 10px;
    }

    .grid-container {
        display: grid;
        gap: 10px;
        grid-row-end: 3;
        grid-column-end: 2;
    }

    .grid-item {
        margin-top: 10px;
    }

    .grid-item.item * {
        display: block;
        width: 100%;
        /* color: white; */
        text-align: center;
    }

    label {
        margin-bottom: 5px;
    }

    input,
    select {
        background-color: lightgrey;
        padding: 5px 0px;
        border-radius: 10px;
        font-size: 1.2rem;
        border: none;
    }

    .item7 {
        grid-column: 1 / span 2;
        grid-row: 4;
        text-align: center;
    }

    button {
        color: white;
        background-color: var(--brand-color-lt);
        padding: 10px;
        width: 50%;
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        font-size: large;
    }

    ;
    flex-direction: column;
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}