* {
    margin: 0;
    padding: 0;
}

.menu {
    font-size: 20px;
    text-align: center;
}

.logo {
    padding: 5px 10px;
}

a {
    text-decoration: none;
    color: inherit;
    width: 100%;
}

.mini li {
    display: flex;
    padding: 10px 12px;
    color: var(--brand-color);
    align-items: center;
    justify-content: center;
}

.sidebar.mini span.text {
    display: none;
}

:root {
    --brand-color: #15D155;
    --tp-brand-color: #23f36825;
    --darkest-color: #000000;
    --dark-color: #363636;
    --mid-color: #6C6C6C;
    --border-color: #b8b8b8;
    --light-color: #fcf8f8;
    --lightest-color: #FFFFFF;
}

body {
    font-family: 'Poppins', sans-serif;
}


.main {
    width: 100dvw;
    height: 100dvh;
    display: flex;
}

.dashboard {
    display: flex;
    width: 100%;
    height: 100%;
}

.sidebar.mini {
    background-color: var(--lightest-color);
    height: 100%;
    flex: 0;
    border-right: 1px solid var(--border-color);
    transition: .6s;

    li {
        .menu-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            /* margin: 10px; */
            position: relative;
            width: 100%;
            padding: 10px;
            background-color: transparent;
            font-size: 20px;
            color: var(--brand-color);
            transition: .3s;
            cursor: pointer;
            border-radius: 10px;
            border: none;
            
            span.text {
                display: block;
                font-size: initial;
                top: 0;
                width: 5rem;
                position: absolute;
                right: 0;
                transform: translate(6rem, 4px);
                visibility: hidden;
                opacity: 0;
                /* border: 2px solid; */
                background-color: #f3f3f3;
                padding: 8px 10px;
                color: initial;
                border-radius: 10px;
                transition: .3s;
                box-shadow: -3px 2px 12px 2px #808080c7;

                &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 13px;
                height: 13px;
                background-color: #f3f3f3;
                /* box-shadow: -2px 1px 0px 0 #808080c7; */
                transform: translate(-4px, 11px) rotate(45deg);
                /* margin: 0 30px 0 0; */
                border-radius: 3px;
                }
            }

        }

        .menu-btn.active,
        .menu-btn:hover {
            background-color: var(--tp-brand-color);
        }

        .menu-btn:hover {

            span.text {
                transform: translate(7rem, 4px);
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

.content {
    /* width: 80%; */
    flex: 3.5;
    display: grid;
    grid-row-end: 2;
    grid-template-rows: 0.5fr 6fr;
    /* grid-template-columns: repeat(3, 1fr); */
    height: 100%;
    background-color: var(--light-color);
}


.header {
    background-color: var(--lightest-color);
    border-bottom: 1px solid var(--border-color);
    /* border-left: 1px solid var(--border-color); */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: small;
    padding: 10px 20px;
}


.cards {
    display: grid;
    grid: auto / auto auto auto;
    grid-gap: 1rem;
    padding: 2rem;
}

.icon {
    transform: scale(2.5);
    transform-origin: left;
    color: #15d15557;
    width: fit-content;
}

.card {
    height: 25%;
    background-color: var(--lightest-color);
    display: flex;
    flex-direction: column-reverse;
    border-left: 7px solid var(--brand-color);
    padding: 10px;
    justify-content: space-around;
    cursor: pointer;
}